.navigation {
    padding: 15px 0;
}

.navigation__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-c);
}

.navigation__text-black {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 12px;
    color: var(--c1-a);
}
