:root {
    --font-family: "Poppins";
    --second-family: "Open Sans";
    --c1-a: #151515;
    --c1-b: #575757;
    --c1-c: #a9a9a9;
    --c1-d: #d1d1d1;
    --c1-e: #ebebeb;
    --c1-f: #f5f5f5;
    --c1-h: #f9f9f9;
    --c1-j: #fff;
    --c1-i: #fdfdfd;
    --c2-a: #6a983c;
    --c2-b: #46760a;
    --c2-c: #92c064;
    --c2-d: #c8deb3;
    --c2-e: #f4f8ec;
    --c3-a: #d0a866;
    --c3-b: #b28a48;
    --c3-c: #ecd2a6;
    --c3-d: #faedd8;
    --c3-e: #fff9f0;
    --c4-a: #e5704b;
    --c4-b: #c7522d;
    --c4-c: #eb8d70;
    --c4-d: #f7c6b7;
    --c4-e: #fff1ed;
    --c5-a: #37d0d6;
    --c5-b: #19b2b8;
    --c5-c: #7cd0d3;
    --c5-d: #b9e6e8;
    --c5-e: #ecf6f6;
}
